.blog {
  padding-bottom: 130px;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding-bottom: 80px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    padding-bottom: 60px;
  }
}

.blog__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    font-size: 34px;
    line-height: 0.65;
    font-family: "CormorantGaramond", "Arial", sans-serif;
    font-weight: 700;
    color: $dark;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    h2 {
      margin-bottom: 32px;
    }
  }
}

.blog__more {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-bottom: 4px;
  color: $dark;
  border-bottom: 1px solid $brown;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-bottom: 50px;
  }
}

.blog__list {
  display: grid;
  grid-template:
    "a c"
    "b c";
  gap: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
  }
}

.blog__item {
  position: relative;
  display: grid;
  grid-template-areas: ". text";
  grid-template-columns: 1fr 1fr;
  background-color: $light-brown;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: contain;
  }

  &:nth-of-type(2n) {
    grid-template-areas: "text .";

    img {
      left: unset;
      right: 0;
    }
  }

  &:nth-of-type(3) {
    grid-template-areas:
      ". ."
      ". text";
    grid-template-rows: 1fr 1fr;
    grid-area: c;

    img {
      width: 100%;
    }

    .blog__item-text-content {
      margin-top: auto;
      height: 300px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    min-height: 300px;

    img {
      width: 339px;
      height: 300px;
    }

    &:nth-of-type(3) {
      grid-template-areas: ". text";
      grid-template-rows: 1fr;

      img {
        width: 339px;
        height: 300px;
      }
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    grid-template-areas:
      "."
      "text";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;

    img {
      width: 100%;
      height: 256px;
      object-fit: cover;
    }

    &:nth-of-type(2n) {
      grid-template-areas:
        "."
        "text";
    }

    &:nth-of-type(3) {
      grid-template-areas:
        "."
        "text";
      grid-template-rows: 1fr 1fr;

      img {
        width: 100%;
        height: 256px;
      }

      .blog__item-text-content {
        height: 256px;
      }
    }
  }
}

.blog__item-text-content {
  grid-area: text;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding: 62px 61px 73px;
  background-color: $light-brown;

  p {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    font-size: 14px;
    line-height: 200%;
    font-weight: 500;
    color: $gray;
  }

  b {
    width: 163px;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    font-size: 26px;
    line-height: 1;
    font-family: "CormorantGaramond", "Arial", sans-serif;
    font-weight: 700;
    color: $black;
    text-align: center;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding: 71px 61px;

    p {
      margin-bottom: 17px;
      line-height: 1;
    }

    b {
      margin-bottom: 40px;
      line-height: 120%;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    padding: 49px 61px 48px 61px;

    p {
      margin-bottom: 17px;
      line-height: 1;
    }

    b {
      margin-bottom: 42px;
      line-height: 120%;
    }
  }
}

.blog__link {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  color: $dark;
  border-bottom: 1px solid $brown;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding-bottom: 5px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    padding-bottom: 5px;
  }
}
