.catalog-main-content {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.catalog-main-content__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.catalog-main-content__filters,
.catalog-main-content__goods {
  display: flex;
  flex-shrink: 0;
}

.catalog-main-content__filters {
  flex-direction: column;
  width: 22%;
  max-width: 250px;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    align-self: center;
    width: 100%;
    max-width: unset;
    margin-right: 0;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    align-self: center;
    width: 100%;
    max-width: unset;
    margin-right: 0;
  }
}

.catalog-main-content__goods {
  flex-direction: column;
  width: 75%;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.catalog-main-content__goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-top: 40px;
  }
}

.catalog-main-content__goods-item {
  width: 31%;
  max-width: 270px;
  &:nth-of-type(n+4) {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    max-width: 206px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    width: 45%;
    max-width: 130px;

    &:nth-of-type(n+3) {
      margin-top: 30px;
    }
  }
}

.catalog-main-content__goods-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 80px;

  & .pagination__list {
    margin-left: auto;
    margin-right: auto;
  }

  & .pagination__button--forward {
    justify-content: flex-end;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-top: 50px;
  }
}
