.pagination__button {
  display: inline-flex;
  width: 69px;
  padding: 0;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    display: none;
  }
}

.pagination__list {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  margin-left: 13px;
  color: $gray;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-left: 23px;
  }
}

.pagination__item--active {
  color: $dark;
  cursor: default;

  &:focus,
  &:hover,
  &:active {
    opacity: 1;
  }
}
