$white: #ffffff;
$white-0-75: rgba(255, 255, 255, 0.75);
$white-0-15: rgba(255, 255, 255, 0.15);
$black: #000000;
$dark: #1d1613;
$gray: #9b9997;
$brown: #a87b62;
$light-brown: #f0eae4;
$brown-background: rgba(86, 64, 52, 0.7);
$default-transition: 0.15s ease-in-out;
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$desktop-mid-width: 1340px;
